<h2>Admin</h2>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Compay</th>
    <th scope="col">Contact</th>
    <th scope="col">Country</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <th scope="row">{{ user.id }}</th>
    <td>{{ user.company }}</td>
    <td>{{ user.contact }}</td>
    <td>{{ user.country }}</td>
    <td class="button">
      <button type="button"
              class="btn btn-primary mr-1">Edit</button>
      <button type="button"
              class="btn btn-danger">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
<ng-template #loading>
  Loading...
</ng-template>
