h2 {
  margin-left: 150px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 1000px;
  margin-left: 150px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

button {
  width: 60px;
  padding: 3px;
  margin-right: 10px;
}

.button {
  text-align: center;
}
