h2 {
  margin-left: 150px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 800px;
  margin-left: 150px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 11px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
